body{   
    background-image:url("/images/background.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;   
}

 h1{
   font-family: 'Courier New', Courier, monospace; 
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      }
  
